<div>
       <% @articles.each do |article| %>
       <div class= "mainline">
        <article><%= article.title %></article>
        <h2><%= article.content %></h2>
      <% end %>
    </div>
</div>
